<!DOCTYPE html>
<html>
  <head>
    <title>Hello Rails React</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
